<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" slideAll="false">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="card">
          <img src="../../../assets/item1.jpeg" class="card-img-top" alt=".." />
          <div class="card-body">
            <h5 class="card-title">Auto 1</h5>
            <p class="card-text">Pequeña descripcion.</p>
            <p class="card-text">Pequeña descripcion.</p>
            <a href="#" class="btn btn-primary">Ver Más</a>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img src="../../../assets/item2.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Auto 1</h5>
            <p class="card-text">Pequeña descripcion.</p>
            <a href="#" class="btn btn-primary">Ver Más</a>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img src="../../../assets/item3.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Auto 1</h5>
            <p class="card-text">Pequeña descripcion.</p>
            <a href="#" class="btn btn-primary">Ver Más</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <img
            src="../../../assets/item4.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Auto 1</h5>
            <p class="card-text">Pequeña descripcion.</p>
            <a href="#" class="btn btn-primary">Ver Más</a>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img
            src="../../../assets/item1.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Auto 1</h5>
            <p class="card-text">Pequeña descripcion.</p>
            <a href="#" class="btn btn-primary">Ver Más</a>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img src="../../../assets/item2.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Auto 1</h5>
            <p class="card-text">Pequeña descripcion.</p>
            <a href="#" class="btn btn-primary">Ver Más</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <img src="../../../assets/item3.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Auto 1</h5>
            <p class="card-text">Pequeña descripcion.</p>
            <a href="#" class="btn btn-primary">Ver Más</a>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img
            src="../../../assets/item4.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Auto 1</h5>
            <p class="card-text">Pequeña descripcion.</p>
            <a href="#" class="btn btn-primary">Ver Más</a>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img
            src="../../../assets/item1.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Auto 1</h5>
            <p class="card-text">Pequeña descripcion.</p>
            <a href="#" class="btn btn-primary">Ver Más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleControls"
    role="button"
    data-slide="prev"
    slideAll="false"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleControls"
    role="button"
    data-slide="next"
    slideAll="false"
  >
    <span
      class="carousel-control-next-icon"
      aria-hidden="true"
      slideAll="false"
    ></span>
    <span class="sr-only">Next</span>
  </a>
</div>
