<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Contacto</h3>
          <ul>
            <li>249 4444829</li>
            <li>249 154310625</li>
            <li>Yrigoyen 1584, Tandil.</li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>Ir a</h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Autos</a></li>
            <li><a href="#">Financiacion</a></li>
            <li><a href="#">Sobre Nosotros</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Garbat Automotores</h3>
          <p>
            Somos una empresa que se dedica a la venta de autos usados y 0km.
          </p>
        </div>
      </div>
      <p class="copyright">Garbat Automotores © 2021</p>
    </div>
  </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
