<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Garbat Automotores</h5>
        <p>
          Somos una empresa que se dedica a la venta de autos usados y 0km.
          Estamos ubicados en la ciudad de Tandil.
        </p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">
        <!-- Links -->
        <h5>Contacto</h5>
        <dl class="contact-list">
          <dt>Direccion:</dt>
          <dd>Yrigogen 1585, Tandil, Buenos Aires</dd>
        </dl>
        <dl class="contact-list">
          <dt>Email:</dt>
          <dd>
            <a
              href="mailto:garbat.automotores@gmail.com"
              style="text-decoration: none"
              >garbat.automotores@gmail.com</a
            >
          </dd>
        </dl>
        <dl class="contact-list">
          <dt>Telefonos:</dt>
          <dd>
            <a>249 4444820</a>
          </dd>
          <dd>
            <a>249 4310625</a>
          </dd>
        </dl>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Ir a</h5>

        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#">Home</a>
          </li>
          <li class="mb-2">
            <a href="#">Autos en venta</a>
          </li>
          <li class="mb-2">
            <a href="#">Financiacion</a>
          </li>
          <li class="mb-2">
            <a href="#">Sobre Nosotros</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2021 Copyright:
    <a href="#"> Garbat Automotores</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
